# Python Tuples

In [1]:
tup1 = ("sneha",6,9.0,True)
print(tup1)

('sneha', 6, 9.0, True)

## Tuples are used to store multiple items in a single variable.

### A collection which is ordered, unchangeable and allow duplicate values.
#### (round brackets)

In [2]:
# 1 Value Tuple
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

### Tuple Constructor

In [3]:
tup2 = tuple((8,'aju',None))
print(tup2)
print(tup2[-1]) # Accessing tuple
print(tup2[:2]) # using range

(8, 'aju', None)
None
(8, 'aju')

# Tuples are immutable (Means that we cannot change, add, or remove items once the tuple is created.)

In [4]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

### But.. can add tuple to a tuple

In [5]:
#To Remove
thistuple = ("apple", "banana", "cherry") # Also called packing a couple
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [6]:
del thistuple

In [7]:
thistuple

NameError: name 'thistuple' is not defined

In [8]:
# UNPACKING A TUPLE
tup2 = (8,'aju',None)
(jack,king,queen) = tup2
print(jack)

8

In [9]:
(helen,*joe)=tup2
print(helen)
print(joe)

8
['aju', None]

## Joining 2 tuples

In [10]:
print(tup1+tup2)
print(tup1*2)

('sneha', 6, 9.0, True, 8, 'aju', None)
('sneha', 6, 9.0, True, 'sneha', 6, 9.0, True)

## Built-in Python Methods

In [11]:
print(tup1.count(9.0))

1

In [12]:
print(tup1.index(9.0))

2

# Python Sets

## A collection which is unordered, unchangeable & unindexed
### Unchangeable, but can remove & add new items.
#### ( curly brackets )

In [13]:
set1 = {'neha','raj','arasu','raj',True,1}
print(len(set1))
set(set1)

4

{True, 'arasu', 'neha', 'raj'}

### Set Constructor

In [14]:
set2 = set(('veda',9,False,9.0))
print(set2)

{False, 9, 'veda'}

## Set items are unchangeable, but can remove items & add new items.

#### Cannot change items in set
#### but can add items

In [15]:
set2.add(7)
set2

{7, 9, False, 'veda'}

In [16]:
set1.update(set2)
print(set1)

{False, True, 'arasu', 7, 9, 'raj', 'veda', 'neha'}

In [17]:
set2.update(tup2)
print(set2)

{False, 7, 8, 9, 'veda', 'aju', None}

### To remove ==>>  use the remove() or discard() method

In [18]:
set1.remove(False)
set1

{7, 9, True, 'arasu', 'neha', 'raj', 'veda'}

In [19]:
set2.discard('aju')
set2

{7, 8, 9, False, None, 'veda'}

In [20]:
# To remove a random item
print(set2.pop())
print(set2)

False
{7, 8, 9, 'veda', None}

In [21]:
# clear method empties set
print(set1.clear())
print(set1)

None
set()

In [22]:
# del kw also empties
print(set2)
del set2
print(set2)

{7, 8, 9, 'veda', None}

NameError: name 'set2' is not defined

In [23]:
# To join Sets
set2 = {9,0.0,"lol"}
set3 = set1.union(set2)
print(set3)

{0.0, 9, 'lol'}

#### Both union() and update() will exclude any duplicate items.

In [24]:
set2.intersection_update(set3)
print(set2)

{0.0, 9, 'lol'}

In [25]:
set2.add(4)
set2

{0.0, 4, 9, 'lol'}

In [26]:
print(set2.intersection(set3))

{0.0, 9, 'lol'}

In [27]:
print(set2.symmetric_difference_update(set3))

None

In [28]:
print(set2)
print(set3)
print(set2.symmetric_difference(set3))

{4}
{0.0, 9, 'lol'}
{0.0, 9, 4, 'lol'}

In [29]:
print(*dir(set),sep=" ")

__and__ __class__ __class_getitem__ __contains__ __delattr__ __dir__ __doc__ __eq__ __format__ __ge__ __getattribute__ __gt__ __hash__ __iand__ __init__ __init_subclass__ __ior__ __isub__ __iter__ __ixor__ __le__ __len__ __lt__ __ne__ __new__ __or__ __rand__ __reduce__ __reduce_ex__ __repr__ __ror__ __rsub__ __rxor__ __setattr__ __sizeof__ __str__ __sub__ __subclasshook__ __xor__ add clear copy difference difference_update discard intersection intersection_update isdisjoint issubset issuperset pop remove symmetric_difference symmetric_difference_update union update

# Python Dictionary

### store data values in key:value pairs
#### ordered , changeable & do not allow duplicates ( enclosed in curly braces with key-value pairs )

In [30]:
dic1 = {'name':'george',"age":9,'gender':'Female'}
dic1

{'name': 'george', 'age': 9, 'gender': 'Female'}

In [31]:
print(dic1['name'])

george

In [32]:
# Dict will overwrite existing values
dic2 = {'name':'geo',"name":'paul','age':90}

In [33]:
dic2

{'name': 'paul', 'age': 90}

In [34]:
dic3 = {'name':'jio','marks':[9,8,7,0]}
print(dic3)

{'name': 'jio', 'marks': [9, 8, 7, 0]}

In [35]:
t = dict(name = "John", age = 36, country = "Norway")
print(*t)

name age country

In [36]:
print(t.get("country"))

Norway

In [37]:
print(t.keys())

dict_keys(['name', 'age', 'country'])

In [38]:
print(t.values())

dict_values(['John', 36, 'Norway'])

In [39]:
t['age'] = 99
t

{'name': 'John', 'age': 99, 'country': 'Norway'}

In [40]:
t.items()

dict_items([('name', 'John'), ('age', 99), ('country', 'Norway')])

In [41]:
t['gender']="M"
t

{'name': 'John', 'age': 99, 'country': 'Norway', 'gender': 'M'}

In [42]:
if 'name' in t:
    print("Yep")

Yep

In [43]:
# To change items
t.update({'name':'Matthews'})
t

{'name': 'Matthews', 'age': 99, 'country': 'Norway', 'gender': 'M'}

In [44]:
dic1.pop("name")
dic1

{'age': 9, 'gender': 'Female'}

In [45]:
dic1.popitem()
dic1

{'age': 9}

In [46]:
del dic2['name']
dic2

{'age': 90}

In [47]:
dic1.clear()
dic1

{}

In [48]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [49]:
for t in thisdict.keys():
    print(t)

brand
model
year

In [50]:
for k,v in thisdict.items():
    print(k,v,sep=" --> ")

brand --> Ford
model --> Mustang
year --> 1964

In [51]:
h = thisdict.copy()
h

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### Nested Dictionaries

In [52]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [53]:
c1 = {"name" : "Emil","year" : 2004}
c2 = {"name" : "Tobias","year" : 2007}
c3 = {"name" : "Linus","year" : 2011}

myfamily = {
  "child1" : c1,
  "child2" : c2,
  "child3" : c3
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [54]:
myfamily['child3']['year']

2011

In [55]:
dir(dict())

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']