In [39]:
#Learn Python with me-2
#Continuation

In [40]:
#for loops
for item in'python':
    print(item)

p
y
t
h
o
n

In [41]:
for item in ['Joy','Gragie']:
    print(item)

Joy
Gragie

In [42]:
for item in range(10):
    print(item,end = " ")
print("\n")
for item in range(1,6):
    print(item,end = "\t")

0 1 2 3 4 5 6 7 8 9

1	2	3	4	5

In [17]:
item_price = [90,43,20]
total = 0
for item in item_price:
    total +=item
print(f"Total: {total}")

Total: 153

In [19]:
#Nested loops
for x in range(3):
    for y in range(4):
        print(f"({x},{y})")

(0,0)
(0,1)
(0,2)
(0,3)
(1,0)
(1,1)
(1,2)
(1,3)
(2,0)
(2,1)
(2,2)
(2,3)

In [2]:
#To print F shape
no = [5,2,5,2,2]
for a in no:
    print('F' * a)

FFFFF
FF
FFFFF
FF
FF

In [8]:
#another approach
no = [5,2,5,2,2]
for count in no:
    output = ''
    for c in range(count):
        output += 'x'
    print(output)
#to print 'L'
print("")
n = [1,1,1,1,5]
for count in n:
    output = ''
    for c in range(count):
        output += 'x'
    print(output)

xxxxx
xx
xxxxx
xx
xx

x
x
x
x
xxxxx

In [18]:
# list 
# index range and slicing
print(n[2])
print(n[-1])
print(n[1:3])
print(n[::-1])
n[0] = "snek"
print(n)
print(n[2::2])
#print(max(n)) 
#TypeError: '>' not supported between instances of 'int' and 'str'
print(max(no))

1
5
[1, 1]
[5, 1, 1, 1, 'snek']
['snek', 1, 1, 1, 5]
[1, 5]
5

In [20]:
#2D lists -->Powerful, Applications --> DataScience and Machine learning
matrix = [[3,4,5],[3,6,7]]
print(matrix)
matrix[1][2]=24
print(matrix)

for row in matrix:
    for item in row:
        print(item)

[[3, 4, 5], [3, 6, 7]]
[[3, 4, 5], [3, 6, 24]]
3
4
5
3
6
24

In [35]:
#List methods
dogs = ['bulldog','pug','Golden Retriever']
dogs.append('labrador')
print(dogs)
dogs.insert(2,'Pomerarian')
print(dogs)
dogs.remove('pug')
print(dogs)
dogs.pop()
print(dogs)
dogs.clear()
print(dogs)

['bulldog', 'pug', 'Golden Retriever', 'labrador']
['bulldog', 'pug', 'Pomerarian', 'Golden Retriever', 'labrador']
['bulldog', 'Pomerarian', 'Golden Retriever', 'labrador']
['bulldog', 'Pomerarian', 'Golden Retriever']
[]

In [36]:
#check for existence of a item
print('bulldog' in dogs)
# count of a number
a = [0,9,0,8]
print(a.count(0))
# Ascending , Decending
print(a.sort())
a.sort()
a.reverse()
print(a)

False
2
None
[9, 8, 0, 0]

In [37]:
#Remove duplicates
f =[]
for n in a:
    if n not in f:
        f.append(n)
print(f)

[9, 8, 0]

In [38]:
#Tuples --> (IMMUTABLE)--> unchangeable (Similar to list)

In [2]:
tup1 = (1,3,'hi')
#tup1[2] = 5
#TypeError: 'tuple' object does not support item assignment
print(tup1)

(1, 3, 'hi')

In [10]:
print(tup1[1])
print(tup1.count('hi'))
print(tup1.index(3))
#Only two methods

3
1
1

In [17]:
tup2 = ('hello',90,78,6.89)
print(tup1+tup2)
print(tup2*3)
del tup2
#print(tup2)
#NameError: name 'tup2' is not defined
#tup2 is deleted but cannot delete a particular element

(1, 3, 'hi', 'hello', 90, 78, 6.89)
('hello', 90, 78, 6.89, 'hello', 90, 78, 6.89, 'hello', 90, 78, 6.89)

In [21]:
#tuple uses some basic builtin functions
tup3 = (90,78,6.89)
print(len(tup3))
print(max(tup3))
print(min(tup3))
print(sorted(tup3))
print(sum(tup3))

3
90
6.89
[6.89, 78, 90]
174.89

In [24]:
#unpacking
x,y,z = tup3
print(x,y,z)
print(z)

90 78 6.89
6.89

In [34]:
#Dictionaries --> Key - value pairs
#Each key must be unique
names = {
    'boy':"Sundhareshan",
    'girl':"Meenakshi",
    'is_names':True,
    'mobile': 7068534
}
print(names['girl'])
print(names.get("boy"))
print(names.get("DOB"))
names["DOY"]=2021
print(names["DOY"])

Meenakshi
Sundhareshan
None
2021

In [42]:
#Mapping 1-->one 2--> two
o = input("Number : ")
mapping={
    "1":"one",
    "2":"two"
}
p=""
for i in o:
    p+=mapping.get(i,"!")+ " "
print(p)

Number : 12351
one two ! ! one